html, body, h1, h2, h3, h4, h5, ul, ol, li, p, a {
	margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}
ul, ol, li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
}
section {
    margin-bottom: 30px;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
}
form input,
form textarea {
	display: block;
	width: 100%;
	padding: 8px 10px;
}

/* Header */
header .main-nav {
	padding: 10px;
	background-color: #4b84f3;
}
header .main-nav img.logo {
    display: inline;
	max-height: 40px;
	margin-right: 35px;
}
header .main-nav nav {
    float: right;
}
header .main-nav ul li {
    display: inline-block;
    vertical-align: middle;
	line-height: 46px;
}
header .main-nav ul li a {
    padding: 0 15px;
	color: #ffffff;
	font-size: 14px;
    text-transform: uppercase;
    border-left: 1px solid #fff;
}
header .main-nav ul li:first-child a {
    padding-left: 0;
	border: none;
}

/* Footer */
footer {
	padding: 10px;
	background-color: #1f2024;
}
footer ul {
	text-align: center;
}
footer ul li {
	display: inline;
	margin: 0 5px;
}
footer ul li a {
	color: #ffffff;
	font-size: 12px;
}

.main {
    min-height: 700px;
}

/* Categories */
.categories {
    margin-top: 20px;
    margin-bottom: 30px;
}
.categories ul {
    margin-bottom: 20px;
    padding: 10px 0;
    background: #f1f1f1;
}
.categories ul li {
    display: inline;
    padding: 0 15px;
}
.categories ul li a {
    color: #333;
    font-size: 18px;
}
.categories ul li a:hover {
    color: #2b52a0;
}
.categories ul li a.active {
    color: #4b84f3;
}
