html, body, h1, h2, h3, h4, h5, ul, ol, li, p, a, figure {
	margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}
ul, ol, li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
}
section {
    margin-bottom: 30px;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
}
form input,
form textarea {
	display: block;
	width: 100%;
	padding: 8px 10px;
}

/* Header */
.main-nav {
    padding: 10px;
	background-color: #061a40;
}
.main-nav__logo {
    display: inline;
	max-height: 40px;
	margin-right: 35px;
}
.main-nav__menu {
    float: right;
}
.main-nav__menu-list {
    background: none;
}
.main-nav__menu-item {
    display: inline-block;
    vertical-align: middle;
	line-height: 46px;
}
.main-nav__menu-item a {
    padding: 0 15px;
	color: #006daa;
	font-size: 14px;
    text-transform: uppercase;
    border-left: 1px solid #006daa;
}
.main-nav__menu-item:first-child a {
    padding-left: 0;
	border: none;
}
.main-nav__menu-item a:hover, 
.main-nav__menu-item--selected a {
    color: #b9d6f2;
}

/* Footer */
footer {
	padding: 10px;
	background-color: #061a40;
}
.footer-nav {
    background: none;
}
.footer-nav__menu {
    text-align: center;
}
.footer-nav__menu-item {
    display: inline;
	margin: 0 5px;
}
.footer-nav__menu-item a {
    color: #b9d6f2;
	font-size: 12px;
}

main {
    min-height: 700px;
}

/*-------------------*/
/* Banner */
/*-------------------*/
.banner {
    position: relative;
    height: 700px;
    background: url(../images/TechBG.jpg) no-repeat top center;
    background-size: cover;
}
.banner::before {
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}
.banner > .container {
    height: inherit;
}
.banner__details {
    position: relative;
    height: 100%;
}
.banner__details-wrap {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    color: #ffffff;
}
.banner__details p {
    margin-bottom: 15px;
    font-size: 18px;
}
.banner__details-title {
    margin-bottom: 15px;
    font-size: 8em;
}

/*-------------------*/
/* Featured */
/*-------------------*/
.featured {
    padding: 50px 0;
}
.featured__list {
    padding: 0;
}
.featured__item {
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
}
.featured__item:last-child {
    margin-bottom: 0;
}
.featured__item-imgwrap,
.featured__item-details {
    float: left;
}
.featured__item-imgwrap {
    position: relative;
    width: 60%;
    height: 300px;
    overflow: hidden;
}
.featured__item-imgwrap img {
    display: block;
}
.featured__item-socials {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.featured__item-imgwrap:hover .featured__item-socials {
    display: block;
}
.featured__item-social {
    display: block;
    width: 50px;
    height: 50px;
    float: left;
    text-indent: -9999px;
    background: url(../images/socials-sprite2.png);
}
.social--facebook {
    background-position: 0 50px;
}
.social--facebook:hover,
.social--facebook:focus {
    background-position: 0 100px;
}
.social--twitter {
    background-position: 150px 50px;
}
.social--twitter:hover,
.social--twitter:focus {
    background-position: 151px 100px;
}
.social--youtube {
    background-position: 50px 50px;
}
.social--youtube:hover,
.social--youtube:focus {
    background-position: 50px 100px;
}
.social--pinterest {
    background-position: 302px 50px;
}
.social--pinterest:hover,
.social--pinterest:focus {
    background-position: 302px 100px;
}
.featured__item-details {
    width: 40%;
    padding: 15px 20px;
}
.featured__item-details h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}
.featured__item-details p {
    color: rgba(0, 0, 0, 0.3);
}
.featured__item-details-category {
    margin-bottom: 15px;
    text-transform: uppercase;
}
.featured__item-details-posted {
    font-size: 14px;
    margin-bottom: 25px;
}
.featured__item-details-quote {
    position: relative;
    margin: 0;
    padding: 18px 28px;
    color: #333;
    text-align: justify;
}
.featured__item-details-quote::before, 
.featured__item-details-quote::after {
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    width: 15px;
    height: 10px;
}
.featured__item-details-quote::before {
    left: 5px;
    background: url(../images/quote1_resized.png);
    background-size: cover;
}
.featured__item-details-quote::after {
    right: 5px;
    background: url(../images/quote1_resized_reversed.png);
    background-size: cover;
}
